

header {
  background: url("./images/bannierewoo.jpg") 50% 0 no-repeat;
  background-size: 100%;
  height: 330px;
  h1 {
    margin-top: 30px;
  }
  &>h2 {
    color: #ffffff;
  }

  #logo {
    position: absolute;
    background: white;
    border-radius: 90px;
    width: 200px;
    height: 150px;
    text-align: center;
    margin-top: 215px;
    z-index: 9999999;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
  }

  #logo img {
    margin-top: 15px;
  }

  .main_menu {
    position: absolute;
    margin-top: 235px;
    text-align: center;
    width: 100%;
    background-color: white;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.5);
    li {
      display: inline-block;
      padding: 30px 15px 30px 15px;

      a {
        color: #ffffff;
        text-decoration: none;
        transition: all 300ms ease 0s;
        font-size: 1.3em;
        &:hover {
          color: #dd3232;
        }
      }
    }
  }
}

.content {
  .block_content {
    height: 150px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #56bef2;
    border-top: 0px;
    margin-bottom: 10px;
    h3 {
      color: #ffffff;
      margin-top: 0;
      font-size: 1.3em;
      border-bottom: 0px;
      border-radius: 12px 12px 0 0;
      padding: 3px 0 0 5px;
      background-color: #56bef2;
      font-weight: bold;
    }
  }
  .nouveautes {

  }
  .dvd {

  }
  .blu_ray {

  }
  .figurines {

  }
}
